.odontograma-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  .menu-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .odontograma-svg {
    width: 80%; /* Ajusta este valor según sea necesario */
    height: auto;
    max-width: 800px; /* Ajusta este valor según sea necesario */
  }